* {
  width: 100%;
  height: 100%;
  position: fixed;
}
body {
  display: flex;
  margin: 0 0 0 0;
  background: -webkit-linear-gradient(top, #ebacac, #adadf7);
}
.top_title {
  height: 5%;
  font-size: 150%;
  margin-top: 20%;
  width: 100%;
  text-align: center;
  font-family: 'youyuan';
  font-weight: 600;
  letter-spacing: 2px;
}
.user_info {
  width: 80%;
  height: 20%;
  margin-top: 50%;
  margin-left: 10%;
  margin-right: 10%;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
.user_info .user_img {
  width: 100%;
  height: 20%;
}
.user_info .user_img img {
  margin-top: 9.5%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.user_info .all_info {
  width: 50%;
  height: 10%;
  margin-left: 35%;
  margin-top: 10%;
  font-size: xx-large;
  font-weight: 800;
}
.user_info .all_info .name {
  width: 40%;
  height: 5%;
}
.user_info .all_info .jianjie {
  font-size: large;
  letter-spacing: 2px;
  margin-top: 12%;
  width: 45%;
  height: 9%;
  overflow: hidden;
  font-weight: 500;
  font-family: songti;
}
.contact {
  height: 50%;
  margin-top: 90%;
  width: 100%;
}
.contact .weixin {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 10px;
  margin-top: 10%;
  margin-left: 10%;
}
.contact .bili {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 10px;
  margin-top: 10%;
  margin-left: 54%;
}
.contact .weixin_div {
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 0%;
  margin-left: 19%;
  color: #4d4e4d;
  width: 30%;
  height: 10%;
}
.contact .bili_div {
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 0%;
  margin-left: 64%;
  color: #4d4e4d;
  width: 30%;
  height: 10%;
}
